<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'property/css/style.css' %}" />
</head>
<body>
<header>
{% block header %}
{% endblock %}
    {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %} {% endif %}
    {% block content %}
    {% endblock %}
</header>
</body>
</html>

