<nav class="navbar nav-1">
  <section class="flex">
    <a href="{% url 'home' %}" class="logo"><i class="fas fa-house"></i>LogoName</a>
    <ul>
      <li><a href="{% url 'property-create' %}">post property <i class="fas fa-paper-plane"></i></a></li>
    </ul>
  </section>
</nav>
<nav class="navbar nav-2">
  <section class="flex">
    <div id="menu-btn" class="fas fa-bars"></div>
    <div class="menu">
      <ul>
        <li><a href="#">buy<i class="fas f-angle-down"></i></a>
          <ul>
            {% for type in "house" %}
            <li><a href="#">{{ type }}</a> </li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="#">sell<i class="fas fa-angle-down"></i> </a>
          <ul>
            <li><a href="{% url 'property-create' %}">post property</a></li>
            <li><a href="#">dashboard</a></li>
          </ul>
        </li>
        <li><a href="#">rent<i class="fas fa-angle-down"></i> </a>
          <ul>
            <li><a href="#">house</a></li>
            <li><a href="#">shop</a></li>
            <li><a href="#">office</a></li>
            <li><a href="#">land</a></li>
          </ul>
        </li>
        <li><a href="#">help<i class="fas fa-angle-down"></i> </a>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">contact us</a></li>
            <li><a href="#faq">FAQ</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="#">saved <i class="fas fa-heart"></i> </a> </li>
        {% if user.is_agency or user.is_owner %}
      <li><a href="#">account <i class="fas fa-user"></i> </a>
          <ul>
            <li><a href="{% url 'register' %}"> <i class="fas fa-user"></i> profile</a> </li>
            <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out"></i> logout</a> </li>
        </ul>
        {% else %}
      <li><a href="{% url 'logout' %}">logout <i class="fas fa-sign-out"></i> </a>
        {% endif %}
        {% else %}
      <li><a href="#">account <i class="fas fa-users"></i> </a>
        <ul>
          <li><a href="{% url 'login' %}"> <i class="fas fa-sign-in"></i> login</a> </li>
          <li><a href="{% url 'register' %}"> <i class="fas fa-user-plus"></i> register </a> </li>
        </ul>
        {% endif %}
      </li>
    </ul>
  </section>
</nav>
