.listings .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.listings .box-container .box{
  background: var(--white);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  overflow-x: hidden;
}

.listings .box-container .box .admin{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.listings .box-container .box .admin p{
  font-size: 1.7rem;
  color: var(--black);
  padding-bottom: .3rem;
}

.listings .box-container .box .admin h3{
  height: 4.6rem;
  line-height: 4.3rem;
  width: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--black);
  background: var(--light-bg);
  text-align: center;
}

.listings .box-container .box .admin span{
  font-size: 1.5rem;
  color: var(--light-color);
}

.listings .box-container .box .thumb{
  position: relative;
  height: 20rem;
  overflow: hidden;
  margin: 1.5rem 0;
}

.listings .box-container .box .thumb img{
  height: 100%;
  width: 100%;
  transition: .2s linear;
}

.listings .box-container .box:hover .thumb img{
  transform: scale(1.1);
}

.listings .box-container .box .thumb .total-images{
  position: absolute;
  top: 1rem; left: 1rem;
  background: rgba(0, 0, 0, .4);
  color: var(--white);
  padding: .5rem 1.5rem;
  font-size: 1.6rem;
  z-index: 1;
}

.listings .box-container .box .thumb .total-images i{
  margin-right: .7rem;
}

.listings .box-container .box .thumb .type{
  position: absolute;
  bottom: 1rem; left: .6rem;
  align-items: center;
  z-index: 1;
}
.listings .box-container .box .thumb .type span{
  margin-right: .7rem;
  padding: .5rem .8rem;
  border-radius: 3rem;
  color: var(--white);
  background-color: var(--main-color);
  font-size: 1.4rem;
}

.listings .box-container .box .thumb .save{
  position: absolute;
  top: 1rem; right: 1rem;
  z-index: 1;
}

.listings .box-container .box .thumb .save button{
  background: rgba(0, 0, 0, 0.5);
  color: var(--white);
  padding: .7rem 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.listings .box-container .box .thumb .save:hover{
  background: var(--main-color);
}

.listings .box-container .box .name{
  font-size: 2rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  color: var(--black);
  margin-bottom: .5rem;
}

.listings .box-container .box .location i{
  padding-top: 1rem;
  font-size: 1.6rem;
  color: var(--light-color);
}

.listings .box-container .box .flex{
  display: flex;
  background: var(--light-bg);
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.listings .box-container .box .flex p{
  font-size: 1.6rem;
  flex: 1 1 4rem;
}

.listings .box-container .box .flex p span{
  color: var(--light-color);
}

.listings .box-container .box .flex p i{
  margin-right: 1rem;
  color: var(--main-color);
}
